* {
    box-sizing: border-box; 
}

body {
    background-color:rgb(41, 241, 22);
}

h1 {
    font-size: 50px;
    font-family: "fayte-pixel-hard", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: sticky;
    top:0;
    background-color:rgb(41, 241, 22); 
    color:black;
}
a {
    text-decoration:none;
    color:inherit
}
.content-box {
    width: 1000px;
    height: 600px;
    background-color: black; 
    border-radius: 10px; 
    margin: 50px; 
    overflow:hidden;
    position:relative; 
    }

 .content-box img {
    max-width: 120%;
    max-height: 100%;
 }
.text {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 30px; 
  font-family:"argent-pixel-cf", sans-serif;
  color: white;
  text-decoration:none;
}




